
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Dashboard</h2>

<iframe width="900"
        height="600"
        src="https://app.powerbi.com/view?r=eyJrIjoiODRkMWJiNGItOTNmNy00MmNhLTk1ODEtNmQ1YjA5YTE2Njk3IiwidCI6ImZhNGY5MjJlLWI5YjMtNDRiMS1hM2E4LTk3YjIwOTk1M2M5ZCJ9"
        frameborder="0"
        allowFullScreen="true">
</iframe>

